:root {
  /* VA Official Color Scheme */
  --primary-color: #363546;       /* VA navy blue */
  --secondary-color: #023047;     /* Dark rich blue */
  --accent-color: #c4b687;        /* VA gold */
  --background-color: #FFFFFF;    /* Pure white */
  --text-color: #212121;          /* Near-black for readability */
  --input-border-color: #5A6D7B;  /* VA gray */
  --error-color: #E31C3D;         /* VA red */
  --success-color: #2E8540;       /* VA green */
  --light-gray: #F4F7FA; 
  --maroon-color: #440705; 
}




@media (max-width: 500px) {
  body {
    padding-top: 55px;  
  }
  
  .page-wrapper {
    padding-top: 10px;
  }
  
  #signup-page {
    max-width: 92vw;
    padding: 0.5rem;
    margin: 0.5rem auto 0.3rem auto;
  }

  h1 {
    font-size: 25px; 
  }

  .form-control {
    margin-bottom: 0.81rem;  
  }

  label {
    font-size: 0.7rem;
  }
  
  .btn,
  .btn-alt {
    font-size: 0.65rem; 
    padding: 0.45rem; 
  }

  #auth-alternative {
    font-size: 0.7rem; 
  }
}
