
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <% if (typeof csrfToken !== 'undefined') { %>
    <meta name="csrf-token" content="<%= csrfToken %>">
  <% } %>

  <title>VA Claims Pathfinder</title>

  <link rel="stylesheet" href="/styles.folder/shared.css" />

  <% if (typeof customStyles !== "undefined") { %>
    <%- customStyles %>
  <% } %>
<script nonce="<%= nonce %>">
   window.isAuth = <%= user ? 'true' : 'false' %>;
</script>
</head>
