<div class="mobile-drawer" id="mobile-drawer">
  <a href="/">Home</a>
  <a href="/compensation">Disability Calculator</a>
  <a href="/vaDisabilityTest">VA Disability Finder</a>
  <a href="/secondary">Secondary Conditions Finder</a>
  <a href="/claimFiling">How to file a claim</a>

  <% if (isAuth) { %>
    <a href="/dashboard">My Dashboard</a>
    <form action="/logout" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button id="nav-logout-btn" type="submit">Logout</button>
    </form>
  <% } else { %>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
  <% } %>
</div>
